<div class="row row-word" ng-if="!gmCtrl.gameEnded">
  <div class="col-xs-12">
    <div class="pull-left">
      <span class="word-score">Total score: {{gmCtrl.totalScore}}</span>
    </div>
    <div id="clockdiv">
      <div>
        <span class="seconds">
          <timer interval="1000" countdown="40" finish-callback="gmCtrl.timerFinished()">{{countdown}}</timer>
        </span>
      </div>
    </div>
    <div class="pull-right">
      <span class="word-score">Word score: {{gmCtrl.wordScoreToGuess}}</span>
    </div>
  </div>
  <div class="col-xs-12">
    <label style="font-size: 50px; margin-bottom: 50px">{{gmCtrl.wordShuffled | uppercase }}</label>
    <br/>
    <input type="text" class="form-control input-lg" ng-model="gmCtrl.userWord" ng-change="gmCtrl.checkAnwser()" />
  </div>
</div>
<div class="row row-word" ng-if="gmCtrl.gameEnded">
  <div class="col-xs-12">
    <div id="total-score">
      <div>
        Total score: {{::gmCtrl.totalScore}}
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <p class="lead">
      <a href="#/game/{{gmCtrl.username}}" class="btn btn-lg btn-success" ng-disabled="stCtrl.isDisabled()">Retry</a>
    </p>
  </div>
</div>
