<div class="row row-word" style="text-align:justify; padding:35px">
  <div class="col-xs-12">
    <h1>Word Puzzle Game</h1>
    <p> Small word puzzle game that presents the user with a mangled word and asks her to enter the correct, unmangled word. If the word to unmangle is pizza the application may present the word as zpaiz and the user must then enter P I Z Z A in this order for the solution to be accepted.
    </p>
    <p>
      The scoring of the game is as follows:
    </p>
    <ul>
      <li>A full score is given only if the word was entered correctly on first guess without ever deleting any character</li>
      <li> For each character that was deleted whilst entering the word -1 is subtracted from the score</li>
      <li>The maximally obtainable score for a word is max_score = floor(1.95^(n/3)) where n is the number of characters in the word</li>
      <li>The score for a word can never be negative always holds for score being the actual score the user receives for solving this word.</li>
    </ul>
    <p>A game runs for 40 seconds, during which the user can solve as many words as she can manage.</p>
    <p>Users are identified by their name (no need to create a registration form/password) and a global, public highscore list should be kept in the database and be viewable in the web
    </p>
  </div>
</div>